.idea

**/tmp
**/.ipynb_checkpoints

stanford_cs224d/assignment1/cs224d/datasets/__MACOSX
stanford_cs224d/assignment1/cs224d/datasets/stanfordSentimentTreebank

stanford_cs224d/assignment3/weights

machine_learning_tensorflow/translate/train/checkpoint

machine_learning_tensorflow/translate/__pycache__/data_utils.cpython-35.pyc

machine_learning_tensorflow/translate/train/checkpoint

machine_learning_tensorflow/translate/__pycache__/data_utils.cpython-35.pyc

machine_learning_tensorflow/tensorflow_examples/word2vec/tsne.png

machine_learning_tensorflow/tensorflow_examples/word2vec/text8.zip

machine_learning_tensorflow/tensorflow_examples/ptb/__pycache__/reader.cpython-36.pyc

machine_learning_tensorflow/tensorflow_examples/mnist/MNIST-data/t10k-images-idx3-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/mnist/MNIST-data/t10k-labels-idx1-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/mnist/MNIST-data

machine_learning_tensorflow/tensorflow_examples/mnist/MNIST-data/train-labels-idx1-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/cnn/MNIST-data/t10k-images-idx3-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/cnn/MNIST-data/t10k-labels-idx1-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/cnn/MNIST-data/train-images-idx3-ubyte.gz

machine_learning_tensorflow/tensorflow_examples/cnn/MNIST-data/train-labels-idx1-ubyte.gz

*.h5

stanford_cs231n/assignment3/cs231n/datasets/coco_captioning

stanford_cs231n/assignment3/cs231n/datasets/tiny-imagenet-100-A

generative_adversarial_network/results/imagenet/

generative_adversarial_network/__pycache__/

variational_autoencoder/__pycache__/

variational_autoencoder/MNIST_data

variational_autoencoder/training/

variational_autoencoder/results/1.jpg

variational_autoencoder/results/2.jpg

variational_autoencoder/results/3.jpg

variational_autoencoder/results/4.jpg

variational_autoencoder/results/5.jpg

variational_autoencoder/results/6.jpg

variational_autoencoder/results/7.jpg

variational_autoencoder/results/8.jpg

draw-color/good-results

draw-color/results-noattn

draw-color/results

*.pyc

draw-color/MNIST_data

neural-style/data

gan/checkpoint_base
gan/results_base

gan/results_cgan2
faster-RCNN/data/

